.custom-image-container {
  width: 100%;
  height: 300px;
}

img.img-resp {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.round-img-container {
  width: 20rem;
  height: 20rem;
}
.round-img {
  border-radius: 50%;
}
