html,
body {
  margin-top: 38px;
  background-color: var(--primary-color);
}

.container {
  position: fixed;
  overflow: scroll;
  display: grid;
  height: 100%;
  grid-template-columns: 230px 1fr;
  background-color: var(--primary-color);
}

.docs-section {
  background-color: var(--white);
  grid-column-start: 2;
  border: 2px solid var(--violet-color);
  border-top-left-radius: 80px;
}

.docs-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 40px 50px;
}
