html,
body {
  background-color: var(--primary-color);
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 230px 1fr;
  background-color: var(--primary-color);
}

.docs-section {
  background-color: var(--white);
  grid-column-start: 2;
  border: 2px solid var(--violet-color);
  margin-top: 95px;
  /* margin-right: 35px;
  margin-bottom: 30px; */
  border-top-left-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.docs-container {
  margin: 40px 50px;
  width: 90%;
}
