.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 7px 45px;
  padding-top: 10px;
  gap: 15px;
  z-index: 1;
  background-color: var(--primary-color);
}

.nav-space {
  flex-grow: 1;
}

.nav-items {
  gap: 22px;
  display: flex;
}

.nav-title {
  font-size: 2rem;
  color: var(--white);
}

.nav-link {
  font-weight: 400;
  color: var(--grey);
  font-size: 1.25rem;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}

.nav-link.active {
  color: var(--light-grey);
}

.nav-link:hover {
  color: var(--white);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--violet-color);
}
